@font-face {
	font-family: "Inter";
	src: url("/Inter-Regular.ttf") format("truetype");
}

body, html {
	@apply bg-white-rock-100;
	@apply text-fiord-700;
	font-family: "Inter", sans-serif;
}

input[type="text"] {
	@apply bg-white-rock-100;
	@apply bg-fiord-700  text-white-rock-50 font-semibold;
	@apply outline-none focus:ring-4 focus:ring-fiord-500/50 transition-all;
	@apply hover:bg-fiord-600;
}

button {
	@apply text-white-rock-50 font-semibold;
	@apply outline-none;
}

.button-tango {
	@apply bg-tango-500 font-semibold text-white-rock-50;
	@apply hover:bg-tango-600;
	@apply active:bg-tango-700;
	@apply outline-none focus:ring-4 focus:ring-tango-500/50 transition-all;
}